//
// colors via http://clrs.cc/
//

// Cool
$aqua: #7FDBFF;
$blue: #0074D9;
$navy: #001F3F;
$teal: #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime: #01FF70;

// Warm
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;

// Gray Scale
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;


/* Coolors Exported Palette - coolors.co/acf39d-e85f5c-9cfffa-773344-e3b5a4 */

$color1: #acf39d; //rgba(172, 243, 157, 100)
$color2: #e85f5c; //rgba(232, 95, 92, 100)
$color3: #9cfffa; //rgba(156, 255, 250, 100)
$color4: #773344; //rgba(119, 51, 68, 100)
$color5: #e3b5a4; //rgba(227, 181, 164, 100)

/* Coolors Exported Palette - coolors.co/f4f7be-e5f77d-deba6f-823038-1e000e */

$color1: #f4f7be; //rgba(244, 247, 190, 100)
$color2: #e5f77d; //rgba(229, 247, 125, 100)
$color3: #deba6f; //rgba(222, 186, 111, 100)
$color4: #823038; //rgba(130, 48, 56, 100)
$color5: #1e000e; //rgba(30, 0, 14, 100)

/* Coolors Exported Palette - coolors.co/eeeeff-7f7caf-9fb4c7-28587b-9fb798 */

$color1: #eeeeff; //rgba(238, 238, 255, 100)
$color2: #7f7caf; //rgba(127, 124, 175, 100)
$color3: #9fb4c7; //rgba(159, 180, 199, 100)
$color4: #28587b; //rgba(40, 88, 123, 100)
$color5: #9fb798; //rgba(159, 183, 152, 100)